@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="height:300px">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><link /></p>



    <div class="video-container">
        <div class="video-frame">
            <video id="webrtc-video" class="video" autoplay playsinline muted controls></video>
            <div class="video-overlay top-right">Fjellebroen</div>
        </div>
    </div>

    
   
    
</div>
